* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: #ffffff;
    color: #022b41;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0px 100px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0 20px;
    font-weight: bold;
    align-items: center;
    flex: 1;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #022b41;
    text-decoration: none;
}

.btn-consultation {
    background-color: #ffffff;
    color: #022b41;
    padding: 12px 25px;
    font-size: 18px;
    border: solid 2px #022b41;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-consultation:hover {
    background-color: #022b41;
    color: #ffffff
}

.arrow {
    color: #022b41;
}

main {
    display: flex;
    background-color: rgba(0, 57, 87, 1);
    height: 100vh;
}

.welcome-section {
    width: 50%;
    padding: 100px 0px 100px 100px;
    color: white;
    background: rgb(0, 57, 87);
    background: linear-gradient(90deg, rgba(0, 57, 87, 1) 12%, rgba(2, 43, 65, 1) 100%);
    box-sizing: border-box;
    margin-left: 80px;

}

.welcome-box {
    border: solid 1px white;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    max-width: fit-content;

}

.welcome-box h1 {
    font-size: 16px;
    font-weight: bold;
}

.welcome-section h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 200px;

    width: 80%;
    text-align: start;
}

.welcome-section>* {
    margin-bottom: 20px;

}

.underline {
    border-bottom: 4px solid #026cb7;
    padding-bottom: 2px;
    display: inline-block;

}

.separator {
    width: 50%;
    height: 2px;
    background-color: white;
    margin: 30px 0px;
}

.btn-contact {
    background-color: #ffffff;
    color: #022b41;
    padding: 12px 25px;
    font-size: 18px;
    border: solid 2px #022b41;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 25px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-contact:hover {
    background-color: #022b41;
    color: #ffffff;
}

.elevate {
    font-size: 25px;
    font-weight: bold;
    max-width: 70%;
}

.consultation-form {
    width: 50%;
    background-image: url(./assets/img/office.avif);
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.form-back {
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin: 25px;
    margin-left: 130px;
    font-weight: bold;
    gap: 30px;
    text-align: start;
    color: #022b41;
    width: auto;
    height: auto;
}

.consultation-form form {
    display: flex;
    flex-direction: column;
}

.book {
    border: solid 2px #022b41;
    padding: 10px;
    border-radius: 15px;
    max-width: fit-content;
    margin-bottom: 15px;
    margin-top: 15px;
}

.book h1 {
    font-size: 16px;
    font-weight: bold;
}

.get {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #022b41;
}

input,
textarea {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border: solid 1px #022b41;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;

}

input::placeholder,
textarea::placeholder {
    color: #003957;
    opacity: 1;
}

button {
    background-color: white;
    color: #022b41;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border: solid 2px #022b41;
    cursor: pointer;
    font-weight: bold;

}

button:hover {
    background-color: #022b41;
    color: #ffffff;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;

}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #022b41;
    margin: 3px 0;
}

@media only screen and (max-width: 1507px) {

    input,
    textarea {
        width: 100%;
    }
}



@media only screen and (max-width: 1198px) {

    .welcome-section {

        width: 100%;
    }

    .consultation-form {
        width: 100%;
    }

    .elevate {
        margin-bottom: 0px;
    }

    .btn-contact {
        font-size: 15px;
    }

    .get {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1078px) {
    main {
        display: flex;
        flex-direction: column;

    }

    .btn-contact {
        font-size: 18px;
    }

    .welcome-section {

        width: auto;
    }

    .consultation-form {
        width: auto;
    }

    body,
    html,
    main {
        overflow: auto;
    }
}

@media only screen and (max-width: 1028px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: white;
        top: 60px;
        left: 0;
        right: 0;
        margin: 0;
    }

    .nav-links.active {
        display: flex;

    }

    .menu-icon {
        display: flex;
        margin: 0 10px;
    }

    nav {
        display: flex;
        align-items: center;

        padding: 10px 20px;
    }

    nav div {
        margin: 0;
    }

    .btn-consultation {
        margin-left: 10px;
        padding: 8px 15px;
    }

    header {
        margin: auto;
    }
}

@media only screen and (max-width: 620px) {

    .btn-consultation {
        font-size: 15px;
    }

    .welcome-section {
        margin-left: auto;
        padding: 70px 0px 70px 70px;
    }

    .form-back {
        margin-left: auto;
        margin-right: auto;
    }


}